@import '~antd/lib/style/themes/default.less';

.standardTableCustom {
  .tableAlert {
    margin-bottom: 16px;
  }

  :global {
    .ant-table-expanded-row-fixed {
      border-right: 1px solid #f0f0f0;
      border-left: 1px solid #f0f0f0;
    }

    .ant-table.ant-table-middle .ant-table-tbody .ant-table-wrapper:only-child .ant-table {
      margin: -12px -9px -12px -9px;
    }
  }
}
