**/*.svg
package.json
CNAME
.ga
.idea
.umi
.umi-production
/dist
/public
.dockerignore
.DS_Store
.eslintignore
*.png
*.jpg
*.jpeg
*.rar
*.ico
*.gif
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
*.log
*.zip
*.txt
