**/node_modules/**

# fixtures
**/fixtures/**

# templates
**/templates/**

**/*.svg

CNAME
.ga
.idea
.umi
.umi-production
/dist
/lib
/public
.dockerignore
.DS_Store
.eslintignore
*.png
*.jpg
*.jpeg
*.rar
*.zip
*.7z
*.ico
*.gif
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
.npmrc
yarn-error.log
.history
*.log
*.zip
*.txt
