.amf-ellipsis {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: normal;
  word-break: break-all;

  &_lines {
    position: relative;

    &_shadow {
      position: absolute;
      z-index: -999;
      display: block;
      color: transparent;
      opacity: 0;
    }
  }

  &_lineClamp {
    position: relative;
    display: -moz-box;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
