.helpBox {
  .helpItem {
    margin: 4px 0;
  }
}

.helpBoxNoBackground {
  padding: 8px 0;
}

.helpBoxBackground {
  margin-bottom: 10px;
  padding: 8px 8px 8px 8px;
  background: #e1e1e1;
  border-radius: 6px;
}
