@import url('react-toastify/dist/ReactToastify.css');

.antd-management-fast-framework-test {
  color: #fff;
}

:global {
  .ant-pro {
    .ant-pro-layout {
      .ant-pro-layout-bg-list {
        background: #f0f2f5;
      }

      .ant-pro-layout-container {
        background-color: #f0f2f5;
      }
    }
  }

  .ant-pro-top-nav-header {
    .ant-pro-top-nav-header-logo {
      .ant-typography {
        h1 {
          font-size: 16px;
          margin-bottom: 0;
          height: auto;
        }
      }
    }
  }

  .ant-pro-layout {
    a {
      .amf-header-logo-title-box {
        h1 {
          font-size: 16px;
          margin: 0;
          height: auto;
        }
      }
    }
  }

  .ant-menu-vertical.ant-pro-base-menu.ant-pro-base-menu-collapsed.ant-menu-inline-collapsed {
    > .ant-menu-item:has(.ant-pro-base-menu-item-collapsed-show-title) {
      height: 48px;
    }

    > .ant-menu-item {
      .ant-pro-base-menu-item-title.ant-pro-base-menu-item-collapsed-show-title.ant-pro-base-menu-item-title-collapsed {
        .ant-pro-base-menu-item-text {
          font-size: 8px;
          text-align: center;
        }
      }
    }

    > .ant-menu-submenu {
      > .ant-menu-submenu-title {
        &:has(.ant-pro-base-menu-item-collapsed-show-title) {
          height: 48px;
        }
      }

      .ant-pro-base-menu-item-title.ant-pro-base-menu-item-collapsed-show-title.ant-pro-base-menu-item-title-collapsed {
        .ant-pro-base-menu-item-text {
          font-size: 8px;
          text-align: center;
        }
      }
    }
  }
}
