.antd-management-fast-framework-test {
  color: #fff;
}

:global {
  .ant-pro {
    .ant-pro-layout {
      .ant-pro-layout-bg-list {
        background: #f0f2f5;
      }

      .ant-pro-layout-container {
        background-color: #f0f2f5;
      }
    }
  }

  .ant-pro-global-footer {
    background-color: #f0f2f5;
  }
}
