.containorBox {
  .titleIcon {
    margin-right: 10px;
  }

  .titleText {
    margin-left: 2px;
  }

  .mainContainor {
    .contentContainor {
      padding: 24px;
    }

    .containorTable {
      .iconAction {
        color: #000;
        border: 0;
      }
    }

    .containorBox {
      .spinListView {
        height: 100%;

        :global(.ant-spin-container) {
          height: 100%;
        }

        .list {
          min-width: 100%;
          padding-right: 3px;

          &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
          }

          &::-webkit-scrollbar-thumb {
            background: rgb(175 168 168 / 20%);
            border-radius: 3px;
            box-shadow: inset 0 0 5px rgb(255 255 255 / 5%);
          }

          &::-webkit-scrollbar-track {
            background: rgb(255 255 255 / 15%);
            border-radius: 3px;
            box-shadow: inset 0 0 5px rgb(37 37 37 / 5%);
          }
        }
      }
    }

    :global {
      .ant-layout {
        min-height: calc(100vh - 55px);
        background-color: #fff;
      }

      .ant-layout-footer {
        padding: 0;
      }

      .ant-card {
        box-shadow: none;
        border-radius: 0;
      }

      .ant-table-wrapper {
        height: 100%;

        .ant-spin-nested-loading {
          height: 100%;

          .ant-spin-container {
            height: 100%;
            overflow-x: hidden;

            .ant-table {
              height: calc(100% - 52px);

              .ant-table-container {
                height: 100%;

                &::before {
                  height: 100%;
                }

                .ant-table-header {
                  .ant-table-thead {
                    max-height: 47px;
                  }
                }

                .ant-table-body {
                  height: calc(100% - 47px);
                }
              }
            }

            .ant-pagination {
              box-shadow: inset 0 9px 8px -5px rgba(5, 5, 5, 6%);
              margin-top: 0;
              margin-bottom: 0;
              padding-top: 10px;
              padding-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
